.menu {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 55px;

    &__list {
        display: flex;
    }

    &__item {
        border-left: 1px solid #cfcfcf;
        border-right: 1px solid #cfcfcf;
        padding: 0 20px;
        color: #111;      
        transition: all 0.3s;
        &:first-child {
            border-left: transparent;
        }
        &:last-child {
            border-right: transparent;
        }
        &:hover {
            color: #ed553b;
            transition: all 0.3s;
        }
    }

    &__link{
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 2.16px;
        color: var(#{--dop-text-color-default});
        text-transform: capitalize;
    }
}


@media(max-width: 680px) {
    .menu__item{
        padding: 0 12px;
    }
    .menu__link{
        font-size: 12px;
    }
}
