.menu{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 55px;

    &__list{
        display: flex;
    }

    &__item{
        border-left: 1px solid #cfcfcf;
        border-right: 1px solid #cfcfcf;
        padding: 0 20px;
        transition: all .3s;
        &:first-child{
            border-left: transparent
        }
        &:last-child{
            border-right: transparent;
        }
        &:hover{
            color: #ED553B;
            transition: all .3s;
        }
    }
}