*{
    box-sizing: border-box
}

body {
    font-family: Inter;
    background-color: var(#{--background-color-default});
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

a,
li {
    text-decoration: none;
    list-style: none;
    color: unset;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}