@import url("../../styles//variables.scss");

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin: 55px 0;

    &__text {
        color: var(#{--dop-text-color-default});
        text-align: center;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
    }

    &__span {
        position: relative;
        width: 28%;
        height: auto;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: #bebebe;
        }
    }
}

@media (max-width: 680px) {
    .title {
        &__text {
            font-size: 30px;
        }
    }
}

@media (max-width: 460px) {
    .title {
        margin: 20px 0;
        &__text {
            font-size: 22px;
        }
    }
}

@media (max-width: 340px) {
    .title {
        &__text {
            font-size: 18px;
        }
    }
}
