@import url('../../styles//variables.scss');

.header {
    width: 100%;
    height: 58px;
    background-color: var(#{--background-header-color-default});
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 55px;

    &__logo {
        margin-left: 60px;
    }

    &__assets {
        width: 200px;
        height: 23px;
        display: flex;
        align-items: center;
        justify-content: space-between !important;
        margin-right: 60px;
    }
}
