@import "../../styles/variables.scss";


.billboard {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(79deg, #e5ebff -2.75%, #F5FFFE 20.07%, #FFF 54.28%, #FFF 101.59%);
    z-index: 0;
    position: relative;
    padding: 40px 0;

    &__content {
        max-width: 607px;
        text-align: left;
        margin-left: 60px;
        z-index: 1;
    }

    &__title {
        color: var(#{--text-color-default});
        font-size: 60px;
        line-height: 145%;
    }

    &__text {
        width: 100%;
        font-size: 24px;
        line-height: 180%;
        margin-bottom: 30px;
        background: #ffffff9e;
        border-radius: 20px;
        padding: 12px;
        border: 1px solid #dedede;
        // box-shadow: ;
        margin-right: 40px;
    }

    &__img_wrap {
        position: absolute;
        right: 0;
        top: -30px;
        max-width: 38%;
        height: auto;
        z-index: -1;
    }

    &__img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 680px) {
    .billboard{
        &__img_wrap{
            display: none;
        }
    }
}
