@import "../../styles/variables.scss";


.billboard {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(79deg, 
    var(#{--billboard-color-one-default}), 
    var(#{--billboard-color-two-default}),
    var(#{--billboard-color-three-default}),
    var(#{--billboard-color-four-default}),
    );
    z-index: 0;
    position: relative;
    padding: 40px 0;

    &__content {
        max-width: 607px;
        text-align: left;
        margin-left: 60px;
        margin-bottom: 50px;
        z-index: 1;
    }

    &__title {
        color: var(#{--main-text-color-default});
        font-size: 60px;
        line-height: 145%;
    }

    &__text {
        width: 100%;
        font-size: 24px;
        line-height: 180%;
        background: var(#{--background-text-color-default});
        border-radius: 20px;
        padding: 12px;
        border: 1px solid #dedede;
        color: var(#{--dop-text-color-default});
    }

    &__img_wrap {
        position: absolute;
        right: 0;
        top: -30px;
        max-width: 38%;
        height: auto;
        z-index: -1;
    }

    &__img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 680px) {
    .billboard{
        &__img_wrap{
            display: none;
        }
    }
}
