@import url("../../styles//variables.scss");

.search {
    max-width: 600px;
    height: auto;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;

    &__input {
        width: 100%;
        height: 45px;
        border-radius: 33px;
        background-color: transparent;
        border: var(#{--search-border-color-default});
        color: var(#{--search-text-color-default});
        padding: 0 15px;
    }

    &__input:focus {outline: none;}
    &__input::placeholder{
        color: var(#{--search-text-color-default});
        padding: 0 15px;
    }

}


@media (max-width: 680px) {
    .search {
        margin: 0 15px;
     &__input{
        width: 100%;
     }
    }
}

