@import "../../styles/variables.scss";

.icons {
    width: 132px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    position: relative;
    bottom: -2px;

    &__icon {
        width: 24px;
        height: 24px;
        path {
            transition-property: color;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
            color: white;
        }
        &:hover {
            path {
                transition-property: color;
                transition-duration: 0.3s;
                transition-timing-function: ease-in-out;
                color: var(#{--btn-up-color-default});
            }
        }
    }
}
