.book {
    width: 326px;
    margin: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 436px;
        border: 1px solid #989898;
    }

    &__popup_btn {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 256px;
        height: 50px;
        margin: auto auto;
    }

    &__picture {
        width: 220px;
        height: 318px;
    }
}
