.slide {
    &__wrap_img {
        width: auto;
        height: 280px;
    }
    &__img {
        object-fit: cover;
        width: 180px;
        height: 100%;
        cursor: pointer;
    }
}

.slide.slick-slide.slick-active{
    margin: 10px !important;
}

.arrov{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: calc(50% - 20px);
    z-index: 1;
    cursor: pointer;
    &__prev{
        left: -50px;
    }

    &__next{
        right: -30px;
    }
}